
      <div class="row mb-2 pt-5">
    <div class="col-md-8">
      <div class="row bg-dark text-white g-0 border border-dark rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{user.name}}</strong>
          <h3 class="mb-0">{{title}}</h3>
          <div class="mb-1 text-muted">{{date_created}}</div>
          <p class="card-text mb-auto">{{body}}</p>
          
        </div>
   <div class="col-auto d-none d-lg-block"><title>Placeholder</title>
  </div>
</div>
      </div>
  </div>
 </div> 
 {{#if logged_in}}
<h1>LOGGED IN</h1>
 {{/if}}
 {{#if ownPost}}
  <a href="/edit-post/{{id}}"><button type="button" class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold ">Edit</button></a>
  <button type="button" data-id = '{{id}}' class="btn btn-outline-danger btn-lg px-4 me-sm-3 fw-bold del-button">Delete</button>

   {{/if}}

     {{#if logged_in}}
  <script src="/js/post.js"></script>
  {{/if}}